body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    .container {
        max-width: 800px;
        height: 1000px;
        margin: auto;
        border: solid 1px grey;
        display: flex;

        .box {
            width: 100px;
            height: 100px;
            margin: 5px;
            background-color: pink;
            border: solid 1px palevioletred;
        }
    }

    .info {
        position: absolute;
        left: 10px;
        top: 10px;
        border: solid 2px rgb(72, 72, 255);
        background-color: rgb(94, 94, 255);
        border-radius: 3px;
        

        p {
            padding: 5px;
            color: white;
            font-size: 15px;
            font-weight: bold;
            margin: 0;
        }
    }
}